
/*******************************************************************************
  Main
**********************************************************************************/

.main-container {
  margin-top: 8rem;
  margin-bottom: 8rem;
  background-image: url('/images/banner.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.main-section__container {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.main-section__right-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.btn-try-in-section {
  margin-top: 2rem;
  width: fit-content;
}

.main-section__container h1 {
  font-size: clamp(2.5rem, 4vw, 4rem);
  color: var(--primary-color-2);
}

.main-section__container p {
  font-size: 1rem;
  font-weight: 400;
  color: var(--primary-color-2);
}

.team-work-banner {
  width: clamp(300px, 100%, 748px);
}

@media (max-width: 1080px) {
  .main-section__container {
    flex-direction: column;
    text-align: center;
  }

  .main-section__right-content {
    align-items: center;
  }
}